* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.main-container{
    display: flex;
    background: linear-gradient(
    40deg,
    rgb(29, 62, 222) 0%,
    rgb(3, 218, 246) 100%
  );
  color: white;
}

.comp-about{
    padding: 50px 30px;
}

.comp-about >p{
    padding-left: 12px;
}

.common{
    border: 1px solid black;
    flex: 1;
}

.whitelogo{
    width: 65%;
}